body {
    width: 100%;
    height: 100%;
    background-color: #d3c3ed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
  }

header {}
