div.header nav a {
    color: chartreuse;
}

.header{
    text-align: center;
    color: rgb(45, 124, 94);
    padding: 0.3%;
    font-size: 120%;
}

.header nav{
    display: inline-block;
    padding-left:10%;
    padding-right:10%; 
}

.link{
    text-decoration: none;
    letter-spacing: 5px;
    padding-right:10%; 
}


.link:hover{
    color: rgb(179, 206, 177);
}