.search-section{
    animation-duration: 3s;
    /* animation-name: slidetop; */
    
}
.search-section:hover {

    animation-duration: 3s;
    animation-name: slidetop;

}
@keyframes slidetop {
from {    
}

to {
    position: sticky;
    top: 15%;
    z-index: 2;
    animation-duration: 3s;
    animation-name: slidetop;
}}

.SearchResultsContent{
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;

}

.tittleSearch {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    color: #0D0D0D;

}

.btnCarrito{
    height: 25%;
    width: 80%;
    border-radius: 10px;

}

.formContainer{
    width: 90%;
    background-color: #E7E7E7;
    border-radius: 25px;

}


.searchSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputForm{
    background-color: #E7E7E7;
    font-family: 'Poppins', sans-serif;
    width: 75%;
    height: 50px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4;


}

.formIn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pCerrar{
    height: 25px;
    width: 25;
    position:absolute;
    top: 1.2%;
    right: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1.4;
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: #FA4A0C;
    color: white; 
    border-radius: 5px;

}
